
@import "@angular/material/prebuilt-themes/indigo-pink.css";


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#divContainer {
    margin-top: 30px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}




/** Utility **/
.floatLeft {
    float: left; 
}
.floatRight {
    float: right; 
}
.clearBoth {
    clear: both; 
}

.invalidValue {
    color: red; 
}




/*******
 Edit fuse tree node / car dialog
*******/

/**
    All children of the form
*/ 
.divEditDialogContainer {
    float: left; 
    width: 50%
}
.divEditDialogContainer > * {
    float: left; 
    clear: both; 
}

.inputEditDialog  {

    width: 90%; 
}



/***
 SVG circuit diagram
 ***/

.svgCircuitDiagram {
    
}

.lineCable {
    stroke: black; 
}

.circleConnectorPoint {
    stroke: black; 
    fill: black; 
}

.rectFuse {
    stroke: black; 
    fill: white; 
}

.textFuse {
    text-anchor: middle; 
    dominant-baseline: middle; /* centers on y axis */
}
