
@import "@angular/material/prebuilt-themes/indigo-pink.css";


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#divContainer {
    margin-top: 30px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}




/** Utility **/
.floatLeft {
    float: left; 
}
.floatRight {
    float: right; 
}
.clearBoth {
    clear: both; 
}

.invalidValue {
    color: red; 
}

.centerVertically {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}




/*******
 Edit fuse tree node / car dialog
*******/

/**
    All children of the form
*/ 
.divEditDialogContainer {
    float: left; 
    width: 50%
}
.divEditDialogContainer > * {
    float: left; 
    clear: both; 
}

.inputEditDialog  {

    width: 90%; 
}

.radioGroupPhaseMatching {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.radioButtonPhaseMatching {
    margin: 5px;
}



/***
 SVG circuit diagram
 ***/

.svgCircuitDiagram {
    margin: 0 auto; 
    display: block; 
}

.lineCable {
    stroke: black; 
}
.lineCablePHASE_1 {
    stroke: brown; 
}
.lineCablePHASE_2 {
    stroke: black; 
}
.lineCablePHASE_3 {
    stroke: gray; 
}

.circleConnectorPointPHASE_1 {
    stroke: brown; 
    fill: brown; 
}
.circleConnectorPointPHASE_2 {
    stroke: black; 
    fill: black; 
}
.circleConnectorPointPHASE_3 {
    stroke: gray; 
    fill: gray; 
}

.rectFuse {
    stroke: black; 
    fill: white; 
}

.textFuse {
    text-anchor: middle; 
    dominant-baseline: middle; /* centers on y axis */
}
.textPhase {
    text-anchor: start;
}
